<paper-header-panel class="create-story-paper-header-panel">
<div class="create-story-paper-header blue">{{user}}, create your own story!<span style="padding-left: 10px;"><button type="button" ng-click="prepopulateInputs()" class="btn btn-danger">DEMO Pre-populate inputs DEMO</button></span></div>
<div class="create-story-paper-header-panel-content">
<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <paper-card heading="Story Info" elevation="3" class="create-story-paper-card">
      <form>
          <div class="form-group">
            <label for="storyTitleInput">Story Title</label>
            <input type="text" ng-model="storyTitle" class="form-control" placeholder="My Story" maxlength="50">
          </div>
          <div class="form-group">
            <label for="storyDescriptionInput">Story Description</label>
            <input type="text" ng-model="storyDescription" class="form-control" placeholder="Once upon a time..." maxlength="255">
          </div>
          <div class="form-group">
            <label for="storyThumbnailUrlInput">Story Thumbnail URL</label>
            <input type="text" ng-model="storyThumbnailUrl" class="form-control" placeholder="http://www">
          </div>
          <img class="create-previewThumbnail" ng-src="{{storyThumbnailUrl}}" on-url-error="http://rationalwiki.org/w/images/f/f5/Error_icon.svg"></img>
      </form>
      <div class="row clean"></div>
      <div ng-show="checkRequiredFields()">
        <button type="button" class="btn btn-success create-page-btn" ng-click="previewStory()" data-toggle="modal" data-target="#myModal">Preview Story<iron-icon icon="av:play-circle-outline" class="icon-margin-left"></iron-icon></button>
        <div class="row clean"></div>
        <button type="button" class="btn btn-success saveButton create-page-btn" ng-click="saveStory()">Save your story<iron-icon icon="icons:save" class="icon-margin-left"></iron-icon></button>
      </div>
    </paper-card>
  </div>
 <!-- Act I ///////////////////////////////////////////////////////////////////////////// -->
  <div class="creationFrameDiv col-md-2">
    <paper-card heading="Act I" elevation="3" class="create-story-paper-card">
      <paper-dropdown-menu label="Media Type">
        <paper-menu ng-model="frame1MediaType" class="dropdown-content">
          <paper-item>Video</paper-item>
          <paper-item>Image</paper-item>
        </paper-menu>
      </paper-dropdown-menu>
 <!-- Act I VIDEO  ******************************** -->
      <div ng-if="frame1MediaType == 0">
        <form ng-submit="previewFrame(1)">
          <div class="form-group">
            <label for="youtubeUrl1">Youtube URL</label>
            <input type="url" ng-model="$parent.frame1YoutubeUrl" class="form-control" id="youtubeUrl1" placeholder="https://www.youtube.com">
          </div>
          <div class="form-group">
            <label for="startTime1">Start Time (sec)</label>
            <input type="text" ng-model="$parent.frame1StartTime" class="form-control" id="startTime1" placeholder="0">
          </div>
          <div class="form-group">
            <label for="endTime1">End Time (sec)</label>
            <input type="text" ng-model="$parent.frame1EndTime" class="form-control" id="endTime1" placeholder="0">
          </div>
          <button type="submit" class="btn btn-success">Preview Act<iron-icon icon="av:movie" class="icon-margin-left"></iron-icon></button>
          <span><paper-spinner-lite ng-if="showSpinner1" class="blueSpinner" active></paper-spinner-lite></span>
        </form>
        <div class="col-md-12 clean"></div>
        <div id="frame1Preview" class="col-md-12"></div>
      </div>
 <!-- Act I IMAGE  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
      <div ng-if="frame1MediaType == 1">
        <form ng-submit="previewImageFrame(1)">
          <div class="form-group">
            <label for="imageUrl1">Image URL</label>
            <input type="url" ng-model="$parent.frame1ImageUrl" class="form-control" id="imageUrl1" placeholder="https://www">
          </div>
          <div class="form-group">
            <label for="imageUrl1Duration">Duration (sec)</label>
            <input type="text" ng-model="$parent.frame1UrlDuration" class="form-control" id="imageUrl1Duration" placeholder="0">
          </div>
          <button type="submit" class="btn btn-success">Preview Act<iron-icon icon="av:movie" class="icon-margin-left"></iron-icon></button>
        </form>
        <div class="col-md-12 clean"></div>
        <div class="frameImagePreviewDiv" ng-show="addFrame1ImagePreview"><img ng-src="{{$parent.frame1ImageUrl}}" class="frameImageUrlPreview"></div>
      </div>
    </paper-card>
  </div>
 <!-- Act II ///////////////////////////////////////////////////////////////////////////// -->
  <div class="creationFrameDiv col-md-2">
    <paper-card heading="Act II" elevation="3" class="create-story-paper-card">
      <paper-dropdown-menu label="Media Type">
        <paper-menu ng-model="frame2MediaType" class="dropdown-content">
          <paper-item>Video</paper-item>
          <paper-item>Image</paper-item>
        </paper-menu>
      </paper-dropdown-menu>
 <!-- Act II VIDEO  ******************************** -->
      <div ng-if="frame2MediaType == 0">
        <form ng-submit="previewFrame(2)">
          <div class="form-group">
            <label for="youtubeUrl2">Youtube URL</label>
            <input type="url" ng-model="$parent.frame2YoutubeUrl" class="form-control" id="youtubeUrl2" placeholder="https://www.youtube.com">
          </div>
          <div class="form-group">
            <label for="startTime2">Start Time (sec)</label>
            <input type="text" ng-model="$parent.frame2StartTime" class="form-control" id="startTime2" placeholder="0">
          </div>
          <div class="form-group">
            <label for="endTime2">End Time (sec)</label>
            <input type="text" ng-model="$parent.frame2EndTime" class="form-control" id="endTime2" placeholder="0">
          </div>
          <button type="submit" class="btn btn-success">Preview Act<iron-icon icon="av:movie" class="icon-margin-left"></iron-icon></button>
          <span><paper-spinner-lite ng-if="showSpinner2" class="blueSpinner" active></paper-spinner-lite></span>
        </form>
        <div class="col-md-12 clean"></div>
        <div id="frame2Preview" class="col-md-12"></div>
      </div>
 <!-- Act II IMAGE  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
      <div ng-if="frame2MediaType == 1">
        <form ng-submit="previewImageFrame(2)">
          <div class="form-group">
            <label for="imageUrl2">Image URL</label>
            <input type="url" ng-model="$parent.frame2ImageUrl" class="form-control" id="imageUrl2" placeholder="https://www">
          </div>
          <div class="form-group">
            <label for="imageUrl2Duration">Duration (sec)</label>
            <input type="text" ng-model="$parent.frame2UrlDuration" class="form-control" id="imageUrl2Duration" placeholder="0">
          </div>
          <button type="submit" class="btn btn-success">Preview Act<iron-icon icon="av:movie" class="icon-margin-left"></iron-icon></button>
        </form>
        <div class="col-md-12 clean"></div>
        <div class="frameImagePreviewDiv" ng-show="addFrame2ImagePreview"><img ng-src="{{$parent.frame2ImageUrl}}" class="frameImageUrlPreview"></div>
      </div>
    </paper-card>
  </div>
 <!-- Act III ///////////////////////////////////////////////////////////////////////////// -->
  <div class="creationFrameDiv col-md-2">
    <paper-card heading="Act III" elevation="3" class="create-story-paper-card">
      <paper-dropdown-menu label="Media Type">
        <paper-menu ng-model="frame3MediaType" class="dropdown-content">
          <paper-item>Video</paper-item>
          <paper-item>Image</paper-item>
        </paper-menu>
      </paper-dropdown-menu>
 <!-- Act III VIDEO  ******************************** -->
      <div ng-if="frame3MediaType == 0">
        <form ng-submit="previewFrame(3)">
          <div class="form-group">
            <label for="youtubeUrl3">Youtube URL</label>
            <input type="url" ng-model="$parent.frame3YoutubeUrl" class="form-control" id="youtubeUrl3" placeholder="https://www.youtube.com">
          </div>
          <div class="form-group">
            <label for="startTime3">Start Time (sec)</label>
            <input type="text" ng-model="$parent.frame3StartTime" class="form-control" id="startTime3" placeholder="0">
          </div>
          <div class="form-group">
            <label for="endTime3">End Time (sec)</label>
            <input type="text" ng-model="$parent.frame3EndTime" class="form-control" id="endTime3" placeholder="0">
          </div>
          <button type="submit" class="btn btn-success">Preview Act<iron-icon icon="av:movie" class="icon-margin-left"></iron-icon></button>
          <span><paper-spinner-lite ng-if="showSpinner3" class="blueSpinner" active></paper-spinner-lite></span>
        </form>
        <div class="col-md-12 clean"></div>
        <div id="frame3Preview" class="col-md-12"></div>
      </div>
 <!-- Act III IMAGE  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
      <div ng-if="frame3MediaType == 1">
        <form ng-submit="previewImageFrame(3)">
          <div class="form-group">
            <label for="imageUrl3">Image URL</label>
            <input type="url" ng-model="$parent.frame3ImageUrl" class="form-control" id="imageUrl3" placeholder="https://www">
          </div>
          <div class="form-group">
            <label for="imageUrl3Duration">Duration (sec)</label>
            <input type="text" ng-model="$parent.frame3UrlDuration" class="form-control" id="imageUrl3Duration" placeholder="0">
          </div>
          <button type="submit" class="btn btn-success">Preview Act<iron-icon icon="av:movie" class="icon-margin-left"></iron-icon></button>
        </form>
        <div class="col-md-12 clean"></div>
        <div class="frameImagePreviewDiv" ng-show="addFrame3ImagePreview"><img ng-src="{{$parent.frame3ImageUrl}}" class="frameImageUrlPreview"></div>
      </div>
    </paper-card>
  </div>
</div>
</div> <!--content-->
</paper-header-panel>

<div id="myModal" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal Content-->
        <div class="modal-content">
            <div class="modal-header preview-modal-header">
                <h1>Preview</h1>
                <div id="player1"></div>
                <div id="player2"></div>
                <div id="player3"></div>
                <div class="modal-footer preview-modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"  data-target="#myModal" ng-click="saveStory()">Save your story<iron-icon icon="icons:save" class="icon-margin-left"></iron-icon></button>
                    <button type="button" class="btn btn-danger" ng-click="destoryFrames()" data-dismiss="modal">Close<iron-icon icon="icons:close" class="icon-margin-left"></iron-icon></button>
                </div>
            </div>
        </div>
        <!-- End Modal Content-->
    </div>
</div>


