body {
  padding-top: 65px;
  background-color: #bbb;
  background-image: url('/img/sketch3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.clean {
  margin: 10px;
}

.dashfade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.dashfade.ng-enter.ng-enter-active {
  opacity:1;
}

.dashfade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.dashfade.ng-leave.ng-leave-active {
  opacity:0;
}

.navbar {
  background-color: #204074;
  border: none !important;
}

.nav-header-text {
  font-size: 34px;
}

.nav-header-text:hover {
  color: #ddd !important;
}

.nav-link-text {
  font-size: 24px;
}

.nav-link-text:hover {
  background-color: #fff !important;
  color: #204074 !important;
}

.nav-text-color {
  color: #fff !important;
}

.navbar-subheader {
  position: relative;
  height: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}

.nav-subheader-container {
  height: 34px;
  display: flex;
  align-items: flex-end;
  justify-content: center
}

.nav-subheader-text {
  display: inline-block;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: .25em;
  vertical-align: bottom;
  bottom: 0;
}

.splashcontent {
  background-color:white;
}

.message-error {
    color:red;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 1120px;
    background-color:black;
  }
}

.preview-modal-footer{
    border: none;
}

.preview-modal-header {
    border: none;
    background-color: black;
    color: white;
}

.hiddenImagePlayerFrame {
  visibility: hidden;
  vertical-align: baseline;
  /* Same size as youtube player */
  height: 200px;
  width: 356px;
}

.showImagePlayerFrame {
  visibility: visible !important;
}

.edit-button {
  margin-left: 18px;
}

.create-previewThumbnail {
  margin-left: 5px;
  width: 100px;
  height: 100px;
}

.creationFrameDiv {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0px 8px;
}

.no-padding {
  padding: 0px !important;
}

.create-story-paper-header {
  background-color: blue;
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  font-family: helvetica;
  padding-left: 10px;
}

.create-story-paper-card {
  font-family: helvetica;
  background-color: #ddd !important;
  padding: 5px;
  width: 100%;
  margin: 0px;
}

.blueSpinnerContainer {
  position: absolute;
  bottom: 120px;
  left: 90px;
}

paper-spinner-lite.blueSpinner{
  --paper-spinner-color: var(--google-blue-500);
}

@media screen and (max-width: 992px) {
  .create-story-paper-card {
    margin: 10px 0px;
  }
}

.create-story-media-type-select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin-bottom: 10px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
}

.blue {
  background-color: #204074;
}

.create-page-btn {
  width: 155px;
}

.icon-margin-left {
  margin-left: 5px;
}

.textToSpeechTextArea {
  resize: none;
}

.text-to-speech-image {
  height: 200px;
  width: auto;
}

.frameImageUrlPreview {
  height: auto;
  max-height: 160px;
  width: auto;
  max-width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.frameImagePreviewDiv {
  overflow: hidden;
  height: 160px;
  width: 100%;
}

.single-story-outer {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

.single-story-inner {
  width: 100%;
}

.log-in-paper-card {
  background-color: #ddd !important;
  width: 450px;
  padding: 0px 40px 10px 40px;
  margin-top: 100px;
}

/*Grow stop the center*/
.act1 {
    -webkit-transform: scale( 0.9 );
    -moz-transform: scale( 0.9 );
    -o-transform: scale( 0.9 );
    -ms-transform: scale( 0.9 );
    transform: scale( 0.9 );
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    transform-origin:left top;
}

.growact1 {
    -webkit-transform: scale( 2.8 );
    -moz-transform: scale(2.8);
    -o-transform: scale( 2.8 );
    -ms-transform: scale( 2.8 );
    transform: scale( 2.8 );
    z-index:1;
    padding-top:10px;
    transform-origin:left top;
    vertical-align: middle;
}

.act2 {
    -webkit-transform: scale( 0.9 );
    -moz-transform: scale( 0.9 );
    -o-transform: scale( 0.9 );
    -ms-transform: scale( 0.9 );
    transform: scale( 0.9 );
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    transform-origin:center top;
}

.growact2{
    -webkit-transform: scale( 2.8 );
    -moz-transform: scale( 2.8 );
    -o-transform: scale( 2.8 );
    -ms-transform: scale( 2.8 );
    transform: scale( 2.8 );
    padding-top:10px;
    z-index:1;
    transform-origin:center top;
    vertical-align: middle;
}

.act3 {
    -webkit-transform: scale( 0.9 );
    -moz-transform: scale( 0.9 );
    -o-transform: scale( 0.9 );
    -ms-transform: scale( 0.9 );
    transform: scale( 0.9 );
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    transform-origin:right top;
}

.growact3 {
    -webkit-transform: scale( 2.8 );
    -moz-transform: scale( 2.8 );
    -o-transform: scale( 2.8 );
    -ms-transform: scale( 2.8 );
    transform: scale( 2.8 );
    padding-top:10px;
    z-index:1;
    transform-origin:right top;
    vertical-align: middle;
}

.center-it {
    display:block;
    margin: 0 auto;
}

.center-it img,
.center-it svg {
    display:block;
    margin: auto;
}

.panel-title-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
}

.panel-body{
    background-color:rgba(0, 0, 0, 0.1);
}

.panel-body-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.story-title{
    font-weight:bold;
}

.player-video {
    padding-top:10px;
}

.single-story-replay-button {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 2s linear, opacity 2s linear;
    -moz-transition: visibility 2s linear, opacity 2s linear;
    -o-transition: visibility 2s linear, opacity 2s linear;
}

.single-story-replay-button-after {
     visibility: visible !important;
     opacity: 1;
}

#player0 {
    height:10px;
    width:10px;
}

.view-count{
    float:right;
}

.narration-icon{
    padding-left:5px;
}
/*mitch zone*/
.single-story-button .btn {
    margin-left: 1px 6px;
    padding: 4px 8px;
    width: 180px;
    height:36px;
}

.volume-up {
  float:right;
}

.start-time-block {
  display: inline-block;
  width: 5em;
}

.end-time-block {
  display: inline-block;
  float: right;
  width: 5em;
}

.bonus-audio-block {
  display: inline-block;
  float: right;
  width: 5em;
}

.volume-controls {
  margin-top: 15px;
}

.volume-label {
  display: inline-block;
 /* height: 5px;*/
  width: 4em;
}

.volume-input {
  display: inline-block;
  float: right;
  width: 4em;
}
/*paper overrides*/
.header.paper-card .title-text.paper-card {
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.story-preview {
  position: relative;
  width: 100%;
}

.story-preview .act-preview {
  position: relative;
  display: inline-block;
  width: 32%;
  margin: auto;
}

.story-preview .act-preview img,
.story-preview .act-preview svg {
  display: block;
  width: auto;
  margin: auto;
}

.btn-success {
  border-color: #43A047;
  background-color: #43A047;
}

.btn-success:hover {
  border-color: #388E3C;
  background-color: #388E3C;
}

.btn-danger {
  border-color: #E53935;
  background-color: #E53935;
}

.btn-danger:hover {
  border-color: #D32F2F;
  background-color: #D32F2F;
}
