body { 
  padding-top: 65px; 
  background-color: #bbbbbb; 
}

img {
  width:300px;
  height:auto;
  margin:auto;
  border:solid;
}

.navbar {
  background-color:darkslategray;
}

.splashcontent {
  background-color:white;
}

.message-error {
    color:red;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.frame {
  float: left;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.frame a {
  display: block;
  height: 100%;
  width: 100%;
}

/*.frame img {
  display: block;
  height: auto;
  position: absolute;
  top: -125%;
  left: -50%;
	width: auto;
  z-index: 0;
}

.frame:nth-child(2) img {
  top: -90%;
  left: -70%;
}
.frame:nth-child(3) img {
  top: -90%;
}*/

.frame a .caption {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 180px;
  transition-property: top;
  transition-duration: 0.2s;  
  width: 100%;  
  z-index: 10;
}

.frame a:hover .caption {
  top: 0;
  transition: all 2s;
}

.frame a .caption h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

.frame a .caption p {
  color: orange;
  display: none;
  line-height: 150%;
  transition: all 0.2s;  
  width: 100%;
}

.frame a:hover .caption p {
  display: block;
  margin-bottom: 20px;
}