body { 
  padding-top: 65px; 
  background-color: #bbb;
  background-image: url('/img/sketch3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.clean {
  margin: 10px;
}

.navbar {
  background-color: #4285F4;
  border: none !important;
}

.nav-header-text {
  font-size: 34px;
}

.nav-header-text:hover {
  color: #ddd !important;
}

.nav-link-text {
  font-size: 24px;
}

.nav-link-text:hover {
  background-color: #fff !important;
  color: #4285F4 !important;
}

.nav-text-color {
  color: #fff !important;
}

.splashcontent {
  background-color:white;
}

.message-error {
    color:red;
}


@media (min-width: 992px) {
  .modal-lg {
    width: 1120px;
    background-color:black;
  }
}

.preview-modal-footer{
    border: none;
}

.preview-modal-header {
    border: none;
    background-color: black;
    color: white;
}


.row {
  margin-left: 0px;
  margin-right: 0px;
}

.topStoryframe {
  /*float: left;*/
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 250px;
  box-shadow: 10px 10px 5px #888888 ;
/*  margin: 15px;*/
}

.topStoryframe a {
  display: block;
  height: 100%;
  width: 100%;
}

.topStoryframe img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin:auto;
  border:solid;
  border-width: 5px;
  border-color:black;
  border-radius:5px;
}

.topStoryframe a .caption {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 120px;
  transition-property: top;
  transition-duration: 0.2s;  
  width: 100%;  
  z-index: 10;
  border-top: hidden;
  border-bottom: solid;
  border-color: black;
  border-width: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.topStoryframe a:hover .caption {
  top: 0;
  transition: all 2s;
}

.topStoryframe a .caption h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

.topStoryframe a .caption p {
  color: orange;
  display: none;
  line-height: 150%;
  transition: all 0.2s;  
  width: 100%;
}

.topStoryframe a:hover .caption p {
  display: block;
  margin-bottom: 20px;
}

.libraryStoryFrame {
  float: left;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 250px;
  box-shadow: 10px 10px 5px #888888 ;
  margin: 15px;
}

.libraryStoryFrame a {
  display: block;
  height: 100%;
  width: 100%;
}

.libraryStoryFrame img {
  width: 100%;
  height: 100%;
  margin: auto;
  border: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
}

.libraryStoryFrame a .caption {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 180px;
  transition-property: top;
  transition-duration: 0.2s;  
  width: 100%;  
  z-index: 10;
  border-top: hidden;
  border-bottom: solid;
  border-color: black;
  border-width: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.libraryStoryFrame a:hover .caption {
  top: 0;
  transition: all 2s;
}

.libraryStoryFrame a .caption h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

.libraryStoryFrame a .caption p {
  color: orange;
  display: none;
  line-height: 150%;
  transition: all 0.2s;  
  width: 100%;
}

.libraryStoryFrame a:hover .caption p {
  display: block;
  margin-bottom: 20px;
}

.create-previewThumbnail {
  width: 100px;
  height: 100px;
}

.creationFrameDiv {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0px 8px;
}

.no-padding {
  padding: 0px !important;
}

.create-story-paper-header-panel {
  min-height: 620px;
  /*overflow: hidden;*/
  margin-left: auto;
  margin-right: auto;
  margin: 12px;
  background-color: #fff;
  @apply(--shadow-elevation-2dp);
}

.create-story-paper-header {
  background-color: blue;
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  font-family: helvetica;
  padding-left: 10px;
}

.create-story-paper-card {
  font-family: helvetica;
  background-color: #ddd !important;
  padding: 5px;
  width: 100%;
  margin: 0px;
}

.create-story-paper-header-panel-content {
  background-color: white;
  height: 554px;
  padding: 20px;
}

paper-spinner.blue{
  --paper-spinner-color: var(--google-blue-500);
}

@media screen and (max-width: 992px) {
  .create-story-paper-header-panel-content {
    height: 2000px;
  }

  .create-story-paper-card {
    margin: 10px 0px;
  }
}

.blue {
  background-color: var(--paper-light-blue-500);
}

.create-page-btn {
  width: 155px;
}

.icon-margin-left {
  margin-left: 5px;
}

.frameImageUrlPreview {
  height: 160px;
  width: auto;
}

.frameImagePreviewDiv {
  overflow: hidden;
  height: 160px;
  width: 160px;
}

.single-story-outer {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  padding-right: 0px;
}

.single-story-inner {
  width: 100%;
}

.single-story-paper-header-panel {
  float: left;
  height: 600px;
  margin: 12px;
  color: #fff;
  @apply(--shadow-elevation-2dp);
}

.single-story-paper-card{
  background-color: #ddd !important;
  margin: 5px;
  font-family: helvetica;
}

.single-story-paper-header {
  background-color: blue;
  height: 64px;
  line-height: 64px;
  font-size: 32px;
  font-family: helvetica;
  padding: 0px;
  padding-left: 5px;
}

.single-story-paper-header-panel-content {
  background-color: white;
  height: 354px;
  padding: 20px;
}

@media screen and (max-width: 1350px) {
  .single-story-paper-header-panel-content {
    height: 2000px;
  }

  .single-story-paper-header-panel {
    height: 1500px;
  }

  .single-story-paper-card{
    margin: 10px 0px;
  }
}

.log-in-paper-card {
  background-color: #ddd !important;
  width: 450px;
  padding: 0px 40px 10px 40px;
  margin-top: 100px;
}
