<div class="row">
    <div class="col-md-offset-1"><h2>Top Stories Today</h2></div>
</div>

<form class="form-horizontal">
    <div class="form-group form-group-lg">
        <div class="col-sm-3 col-sm-offset-1">
            <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Search" ng-model="search">
        </div>
    </div>
</form>

<div class="row">
    <div class="dashfade" ng-repeat="story in showcase | filter:search">
        <div class="col-md-3">
            <div class="topStoryframe">
                <a href="/#/singleStory/{{story.storyId}}">
                    <div class="frameImagesContainer">
                        <svg class="frameImagesBackground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 32"><path d="m0 0v4h4v4h-4v16h4v4h-4v4h44v-4h-4v-4h4v-16h-4v-4h4v-4h-44m8 4h4v4h-4v-4m8 0h4v4h-4v-4m8 0h4v4h-4v-4m8 0h4v4h-4v-4m-24 20h4v4h-4v-4m8 0h4v4h-4v-4m8 0h4v4h-4v-4m8 0h4v4h-4v-4"/></svg>
                        <div class="frameSnapshots">
                            <img class="frameSnapshotsThumbnail" ng-repeat="act in story.frames" ng-src="{{act.imageUrl}}"></img>
                        </div>
                        <span class="caption"><h2>{{story.title}}</h2><p>{{story.description}}</p><p>-{{story.username}}</p></span>
                    </div>
                    <div class="frameInfoContainer">
                        <div class="frameInfoBackground">
                            <span class="frameInfo"><h2>{{story.title}}</h2></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
