<div class="row">
    <div ng-hide="isProfilePage" class="col-md-offset-1"><h2>Top Stories Today</h2></div>
    <div ng-show="isProfilePage" class="col-md-offset-1"><h2>{{username}}'s Stories:</h2></div>
</div>

<form class="form-horizontal">
    <div class="form-group form-group-lg">
        <div class="col-sm-3 col-sm-offset-1">
            <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Search" ng-model="search">
        </div>
    </div>
</form>

<div class="row">
    <div class="dashfade" ng-repeat="story in showcase | filter:search">
        <div class="col-md-3">

            <div class="topStoryframe">
                <a href="/#/singleStory/{{story.storyId}}">

                    <div class="thumbnailContainer">
                        <div class="thumbnailWrapper">
                            <img class="storyThumbnail" ng-src="{{story.thumbnail}}"></img>
                        </div>
                    </div>

                    <div class="infoContainer">
                        <div class="infoBackground">

                            <span class="storyInfo">
                                <div class="caption-title">{{story.title}}</div>
                                <div class="views-text">Views: {{story.views}}</div>
                            </span>

                            <span class="caption">
                                <div class="caption-title">{{story.title}}</div>
                                <div class="views-text">Views: {{story.views}}</div>
                                <p>{{story.description}}</p>
                                <p>-{{story.username}}</p>
                            </span>
                        </div>
                    </div>

                </a>
            </div>

        </div>
    </div>
</div>
