.topStoryframe {
  display: inline-block;
  float: left;
  margin: 1em;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: initial;
  height: 30em;
  width: 28em;
  padding: 0;
}

.topStoryframe a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: auto;
  padding: 0;
}

/*.thumbnailContainer*/

.topStoryframe a
.thumbnailContainer {
  overflow: hidden;
  background: #151515;
  height: 20.5em;
  width: 28em;
  margin: 0;
  padding: 2em;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #151515;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.topStoryframe a
.thumbnailContainer .thumbnailWrapper {
  display: block;
  position: relative;
  max-width: 100%;
  height: 100%;
  margin: auto;
}

.topStoryframe a
.thumbnailContainer .thumbnailWrapper
.storyThumbnail {
  fill: #151515;
  display: inline;
  max-width: 100%;
  max-height: 19.5em;
  margin-top: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*.infoContainer*/

.topStoryframe a
.infoContainer {
  display: block;
  background: #151515;
  top: 0;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 0px;
  border-color: #151515;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.topStoryframe a
.infoContainer .infoBackground {
  display: block;
  padding-top: 0em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: 0;
}

.topStoryframe a
.infoContainer .infoBackground
.storyInfo .caption-title {
  font-size: 2.5em;
  color: #FAFAFA;
  text-shadow: 1px 1px 5px rgba(250,250,250,.4);
  margin: 0;
  text-decoration: none;
}

.topStoryframe a
.infoContainer .infoBackground
.storyInfo .views-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 0em;
  padding-top: 0em;
}

/*.caption*/

.topStoryframe a
.infoContainer .infoBackground
.caption {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  overflow: hidden;
  padding: 1.5em;
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20em;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-top: hidden;
  margin: 0;
  text-decoration: none;
}

.topStoryframe a
.infoContainer .infoBackground
.caption .caption-title {
  color: #FAFAFA;
  text-shadow: 1px 1px 5px rgba(250,250,250,.4);
  font-size: 2.5em;
  margin-bottom: 0em;
}

.topStoryframe a
.infoContainer .infoBackground
.caption .views-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 0em;
  padding-top: 0em;
}

.topStoryframe a
.infoContainer .infoBackground
.caption p {
  color: #4285f4;
  display: none;
  position: absolute;
  margin-top: 0em;
  width: 90%;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px rgba(66,133,244,.54);

  bottom: 0;
  margin-bottom: 4em;
}

.topStoryframe a
.infoContainer .infoBackground
.caption p:last-child {
  text-align: right;
  right: 1em;
  margin-bottom: 1em;
}

/*a:hover*/

.topStoryframe a:hover {
  text-decoration: none;
}

.topStoryframe a:hover
.thumbnailContainer {
  overflow: hidden;
}

.topStoryframe a:hover
.infoContainer .infoBackground
.storyInfo {
  text-shadow: none;
  text-decoration: none;
}

.topStoryframe a:hover
.infoContainer .infoBackground
.storyInfo .caption-title {
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  text-decoration: none;
  font-size: 2.5em;
}

.topStoryframe a:hover
.infoContainer .infoBackground
.storyInfo .views-text {
  color: rgba(0, 0, 0, 0);
}

.topStoryframe a:hover
.infoContainer .infoBackground
.caption {
  background-color: rgba(0, 0, 0, 0.95);
  color: #FAFAFA;
  padding-top: 0em;
  padding: 1.5em;
  z-index: 10;
  margin: 0;

  top: 0;
  border-bottom: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.87);

  transition: box-shadow 1.25s, border 1.25s, top 1.25s, background-color 1.25s;
}

.topStoryframe a:hover
.infoContainer .infoBackground
.caption p {
  display: inline-block;
}

.topStoryframe a:hover
.infoContainer .infoBackground
.caption .caption-title {
  text-decoration: none;
  text-shadow: 1px 1px 5px rgba(250,250,250,.4);
  font-size: 2.5em;
}

