.single-story-spinner {
    height: 428px;
    width:760px;
    margin-left: 20%;
}

.panel-primary {
  border-color: #204074;
}

.panel .panel-heading {
  background-color: #204074;
  border-color: #204074;
}

.panel .panel-heading .panel-title .username {
  color: white;
}

.panel .panel-heading .panel-title .username:hover {
  cursor: pointer;
  text-decoration: none;
  color: #ddd;
}
